/* -------------------- CSS BY NAME -------------------------------------- */

/* -------------------- IMPORTED FONTS -------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/*-------------------- CSS RESET ---------------------------------------------------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */

:root {

    --teal: #4CA7C0;
    --purple: #484FB7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --darkgrey: #1E1E1E;
    --white: #ffffff;
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Kavoon', cursive;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

html {
    font-family: var(--font-primary);
    background-color: var(--purple);
}

main {
    display: block;
    padding: 20px 20px 0 20px;
}

header {
    width: 100%;
}

header h1 {
    background-color: var(--teal);
    padding: 40px 20px;
    text-align: center;
    border-radius: 0 0 25px 25px;
}

header p {
    background-color: var(--pink);
    color: var(--white);
    font-style: italic;
    padding: 20px;
    margin: 0 10px;
    padding-bottom: 0;
    text-align: center;
    border-radius: 0 0 25px 25px;
    position: relative;
    bottom: 10px;
    z-index: -1
}

span {
    display: none;
}

nav {
    background-color: var(--yellow);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 15px 15px;
    padding: 10px 15px;
}

nav h2 {
    font-family: var(--font-primary);
    font-style: italic;
    text-transform: uppercase;
    color: var(--darkgrey);
    font-size: 1.5em;
    text-align: center;
}

nav li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-list {
    display: none;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

#nav-menu:focus + .nav-list {
    display: block;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    color: var(--yellow);
}

.third-level-section h4 {
    font-size: 1.15em;
    color: var(--purple);
    padding-top: 10px;
}

h1, h2 {
    font-family: var(--font-secondary);
    color: var(--white);
}

main p {
    padding: 10px 0;
    line-height: 150%;
}

section section section {
    background-color: var(--white);
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
}  

.first-level-section {
    margin: 20px 0;
}

#why-choose ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#why-choose li {
    list-style: none;
    font-weight: bold;
    color: var(--darkgrey);
    text-align: center;
    border-radius: 20px;
    padding: 40px 20px;
}

#why-choose h2 {
    padding-bottom: 20px;
}

#why-choose h3 {
    color: var(--darkgrey);
    line-height: 100%;
}

#why-choose li:nth-child(1) {
    background-color: var(--teal);
}

#why-choose li:nth-child(2) {
    background-color: var(--purple);
}

#why-choose li:nth-child(3) {
    background-color: var(--yellow);
}

#why-choose li:nth-child(4) {
    background-color: var(--white);
}

#why-choose, #first-step {
    background-color: var(--pink);
    color: var(--white);
    margin: 0 -20px;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: auto;
    margin: 10px auto;
}

table, th, td{
    border: 2px solid var(--yellow);
    padding: 10px;
}

thead {
    background-color: var(--yellow);
    text-transform: uppercase;
}

tbody {
    background-color: var(--white);
}

#first-step button {
    display: block;
    padding: 20px 100px;
    margin: auto;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px 5px var(--darkgrey);
    color: var(--darkgrey);
    text-transform: uppercase;
    font-weight:bold;
    text-align: center;
    text-decoration: none;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    padding: 50px;
    color: var(--white);
    text-align: center;
    background-color: var(--teal);
    border-radius: 0 0 25px 25px;
}

small ~ small {
    text-decoration: underline;
}
/*-------------------- MEDIA QUERY (medium) --------------------------------*/

@media screen and (min-width: 620px){

    span {
        display: inline;
    }

    section section section {
        padding: 20px;
        margin: 0;
    }  

    .second-level-section {
        margin-top: 20px;
    }

    #one-on-one {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

        #personal-development {
            grid-column: 1 /2;
        }
        
        #career-coaching {
            grid-column: 2 /2;
        }

        #relationship-coaching {
            grid-column: 1 /3;
        }
    
    #group-coaching {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

        #supportive-community {
            grid-column: 1 /2;
        }

        #focused-sessions {
            grid-column: 2 /2;
        }
        
    #workshops-seminars {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    #online-courses {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    #why-choose h2 {
        padding-bottom: 0;
    }

    #why-choose ul {
        display: inline-flex;
        color: white;
    }

    #why-choose li {
        padding: 40px 5px;
        margin: 0 auto;
    }

    #pricing {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #table1 {
        display: grid;
        grid-column: 1 / 2;
    }  

    #table2 {
        display: grid;
        grid-column: 2 / 2;
    } 

    #table3 {
        display: grid;
        grid-column: 1 / 2;
    } 

    #table4 {
        display: grid;
        grid-column: 2 / 2;
    } 

    #first-step-2 {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    #first-step-3 {
        display: grid;
        grid-column: 1 / 2;
    }

}
/*-------------------- MEDIA QUERY (large) ------------------------------------*/

@media screen and (min-width: 950px){

    nav h2 {
        display: none;
    }

    .nav-list {
        display:inline-flex;
        flex-direction:row;
    }

    nav li {
        padding: 0 20px;
    }

    #grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
    
    #our-services .third-level-section {
        margin-top: 20px;
    }

    #our-services .second-level-section {
        display: block;
    }

    #why-choose ul {
        display: flex;
        
    }

    #why-choose li {
        padding: 20px;
        margin: 10px auto;
    } 

    #pricing {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #table1 {
        grid-column: 1 / 2;
    }  

    #table2 {
        grid-column: 2 / 2;
    } 

    #table3 {
        grid-column: 3 / 4;
    } 

    #table4 {
        grid-column: 4 / 4;
    } 
    
}

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/

@media screen and (min-width: 1280px){

    main, header, footer {
        max-width: 1280px;
        margin: 0 auto;    
    }   

}

/*

Fonts
Add to your CSS Under Imported Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
H1, H2
Kavoon
All other text
Inter
H1
3em
NAV H2
1.5em
H2
2em
H3
1.5em
H4
1.15em
Colors
Teal :#4CA7C0
Purple: #484FB7
Lavender: #6B8FE7
Yellow: #E9BB57; 
Pink:#D9526F;
Dark-gray:#1E1E1E; 
White:#ffffff; 

*/